<div style="padding: 10px;">
    <h2>
        <div (click)="openTitleInput()" style="cursor: pointer; padding: 10px 0;" *ngIf="!activeTitleInput">
            {{taskTitle ? taskTitle :'Unknown'}}
        </div>
        <div *ngIf="activeTitleInput">
            <input class="title-input" [(ngModel)]="taskTitle" (focusout)="openTitleInput()" #search>
        </div>
        
    </h2>
</div>

<mat-dialog-content style="margin-top: -50px;">
    <div fxLayout="row" fxLayoutAlign="start start" >
        <div fxFlex="70">
            <div style="width: 100%">
                <angular-editor 
            [placeholder]="'Enter text here...'" 
            [(ngModel)]="htmlContent"
            [config]="editorConfig"
        ></angular-editor>
            </div>
            
        </div>
        <div fxFlex="30">
            <app-task-data [task]="task"></app-task-data>
        </div>
    </div>

    
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>