<div fxLayout="column" fxLayoutAlign="start start" *ngIf="task$ | async as task">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
        <div>Assignee</div>
        <div>
            <mat-icon style="cursor: pointer;" (click)="assignToUser()" fontIcon="add" matTooltip="Assign Task"></mat-icon>
        </div>
    </div>
    <div>


        <mat-form-field appearance="fill" *ngIf="assignUser">
            <mat-label>Assign To</mat-label>
            <mat-select disableRipple  [(ngModel)]="user">
              <mat-option *ngFor="let user of users$ | async" [value]="user._id">{{user.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="taskAssignToUser(task)" *ngIf="assignUser">Assign</button>



        <mat-chip-listbox aria-label="User selection" *ngIf="!assignUser">
            <mat-chip *ngFor="let user of task.assign_users">
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
              {{getUserName(user)}}

              <mat-icon style="cursor: pointer;" fontIcon="close" (click)="unassignUser(user)"></mat-icon>
            </mat-chip>
        </mat-chip-listbox>
    </div>
</div>
