<div fxLayout="row" fxLayoutAlign="start center" >
    <div>

        <button mat-raised-button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false" fontIcon="arrow_drop_down"></mat-icon>
            <span *ngIf="activeProject$ | async as activeProject;else elseBlock">
                
                {{activeProject.title}}
            </span>
            <ng-template #elseBlock>
                Select Project
            </ng-template>
           
            <!-- {{selectProjectText}} -->
        </button>
        <mat-menu #menu="matMenu">
            <div style="cursor: default;" mat-menu-item *ngFor="let project of projects$ | async">
                <app-project-item  style="width: 100%;"
                (editProjectEmit)="addProject($event)"  
                
                [project]="project">
            </app-project-item>
            </div>
            <mat-divider></mat-divider>

            <button mat-menu-item (click)="addProject({title: '', description:''})">Add Project</button>
        </mat-menu>
    </div>
</div>

  