<h1 mat-dialog-title>{{dTitle}}</h1>
<div mat-dialog-content>
 <form class="example-form"  [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="(form.title.touched || submitted) && form.title.errors?.required">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="(form.description.touched || submitted) && form.description.errors?.required">
            Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
 </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" cdkFocusInitial (click)="onSubmit()">{{dButtonText}}</button>
  <button mat-button (click)="onNoClick()">Close</button>
  
</div>