<!-- <p>{{task.title}}</p> -->
<a class="link-task" *ngIf="taskData as task">
<mat-card style="width: 100%;" (click)="openTask(task)">
    <mat-card-header>	
        <h2>{{task?.title}}</h2>
    </mat-card-header>
    <mat-card-content>{{task?.description}}</mat-card-content>
    <mat-card-actions>
        <div *ngFor="let user of task.assign_users" [matTooltip]="getFullName(user)">
            <div class="icon-avatar" >
                {{getFirstChar(user)}}
            </div>
        </div>
    </mat-card-actions>
</mat-card>
</a>
