<mat-toolbar color="primary">
    <button *ngIf="user.role == 'admin' || user.role == 'superadmin'" mat-icon-button class="example-icon" (click)="toogleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>

    <a routerLink="/project" style="margin-left: 30px;" mat-button   *ngIf="user.role == 'user'">
      Projects
    </a>

    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->

    <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="user$ | async as user">
      {{user.name}} <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutUser()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>