::ng-deep{
    input:focus {outline:none;}
    .angular-editor-textarea{
        border: none  !important;
    }
    .angular-editor-wrapper, 
    .angular-editor-wrapper:focus-visible, 
    .angular-editor-wrapper:focus,
    .angular-editor-wrapper:hover
    {
        border:none !important;
    }

    .title-input{
        background-color: #303030;
        color: #ffffffde;
        font: 500 20px/32px Roboto, sans-serif;
        // letter-spacing: .0125em;
        width: 100%;
        border: none;
        margin: 10px 0;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding-left: 5px;
        
    }

    .angular-editor-textarea:after{
        display: none !important;
    }
}
